@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.text-reviews {
  font-style: italic;
  font-size: small;
  padding-left: 0.5rem;
}
.rating {
  font-size: small;
  color: green;
}
